footer {
  .footer_cont {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121214;
    border: none;
    h1 {
      padding: 10px;
      color: rgb(255, 255, 255);
      font-size: 17px;
      font-weight: 500;
      font-family: Open Sans,sans-serif;
    }
  }
}