.header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(49, 49, 49);

  .header_wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      color: white;
      padding: 10px 10px;
      text-transform: uppercase;
      border-radius: 5px;
      font-size: 25px;
      font-weight: 600;
      font-family: sans-serif;
      text-decoration: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.285);
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .burger {
        display: block;
        width: 40px;
        padding: 5px;

        &.open {
          span:first-child {
            transform: rotate(45deg) translate(4px, 6px);
          }
          span:last-child {
            transform: rotate(-45deg) translate(4px, -6px);
          }
        }

        &:hover {
          background-color: #ffffff41;
          border-radius: 4px;
        }

        span {
          display: block;
          width: 40px;
          height: 6px;
          margin: 6px auto;
          background-color: #ffffff;
          border-radius: 2px;
          transition: 0.2s;
        }
      }
      .link {
        border: solid 1px rgba(255, 255, 255, 0.216);
        border-radius: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        width: 70px;
        padding: 0.7rem 1.5rem;
        margin: 0 0.2rem;

        &:hover {
          border: solid 1px white;
        }
      }
    }
  }
}
