.header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: rgb(49, 49, 49);

  .header_wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      h1 {
        color: white;
        padding: 10px 10px;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 25px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.285);
        }
      }
    }
    .links {
      width: 15rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link {
        border: solid 1px rgba(255, 255, 255, 0.216);
        border-radius: .3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        width: 70px;
        padding: 0.7rem 1.5rem;
        margin: 0 0.2rem;

        &:hover {
          border: solid 1px white;
        }
      }
    }
  }
}
