.page_wrapper {
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;

  .container {
    .home_content {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 1)
        ),
        url(../../../../nova_bg.jpg);
      background-size: cover;
      min-height: 100vh;

      .main_page {
        width: 100%;
        padding: 30px 0;

        display: flex;
        justify-content: center;
        align-items: center;

        .main_title {
          width: 100%;

          flex-direction: column;

          display: flex;
          justify-content: start;
          align-items: center;
          .title_content {
            h3 {
              line-height: 60px;

              font-size: 2.5rem;
              
              font-family: Open Sans, sans-serif;
              padding: 10px 0;

              display: flex;
              justify-content: center;

              color: white;

              &:last-child {
                font-size: 16pt;
                line-height: 30px;
                font-weight: 500;
              }
            }
          }
          .button_container {
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .buy_dis {
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              margin: 5px;
              position: relative;
              font-size: 12pt;
              border: none !important;
              border-radius: 16px;
              text-shadow: 0 0 2px white;
              padding: 0.5rem 1rem;
              background: linear-gradient(
                to right,
                rgb(0, 170, 255),
                rgb(51, 33, 242)
              );

              &:hover {
                background: linear-gradient(
                  to right,
                  rgb(1, 142, 213),
                  rgb(43, 28, 198)
                );
              }

              .buy {
                padding: 0 5pt 0 0;
                font-size: 12pt;
                color: white;
              }
              .arrow {
                padding: 0 0 0 5pt;
                font-size: 15pt;
                color: white;
              }
            }
          }
        }
        .nova_gui {
          width: 100%;

          overflow: hidden;
          img {
            width: 100%;
            // transform: rotate3d(0, 6, 0, -31deg);
          }
        }
      }
    }
  }
}

// span {
//   background: -webkit-linear-gradient(
//     -70deg,
//     #ff00a6 0%,
//     #bb00ff 100%
//   );
//   background-clip: border-box;
//   -webkit-background-clip: text;
//   background-clip: text;
//   -webkit-text-fill-color: rgba(0, 0, 0, 0);
// }
