*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  transition: .5s;
}

::selection {
  background-color: #404040;
  color: rgb(255, 255, 255);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(162, 162, 162);
}
::-webkit-scrollbar-thumb {
  background: rgb(104, 104, 104);
  border-radius: 0 0 3px 3px;
}
